
// Variaveis de Cores //

$cor-primaria: #4169E1;
$cor-secundaria: #FFD369;
$cor-hover: #27408B; 
$cor-texto: rgb(51, 51, 51);
$cor-texto-secundario: rgb(128, 128, 128);
$cor-fundo: rgb(249, 249, 249);
$cor-branco: rgb(255, 255, 255);

// Variaveis de Espaçamento //
$espacamento: 16px;

// Variaveis para as Fontes //
$fonte-principal: 'Montserrat', sans-serif;
$fonte-secundaria: 'Inter', sans-serif;

